<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com-elb-cordova-plugin-kscat"
        version="1.2.0">

    <name>IntentShim</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/IntentShim.js" target="js/IntentShim.js"/>

    <js-module src="www/IntentShim.js" name="kscat">
        <clobbers target="kscat"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IntentShim">
                <param name="android-package" value="com.darryncampbell.cordova.plugin.intent.IntentShim"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest/application/activity" mode="merge">
            <intent-filter>
                <action android:name="com.darryncampbell.cordova.plugin.intent.ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </config-file>
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest" mode="merge">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        </config-file>
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest" mode="merge">
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
        </config-file>
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest/application" mode="merge">
            <provider
                    android:name="com.darryncampbell.cordova.plugin.intent.CordovaPluginIntentFileProvider"
                    android:authorities="${applicationId}.darryncampbell.cordova.plugin.intent.fileprovider"
                    android:exported="false"
                    android:grantUriPermissions="true">
            </provider>
        </config-file>
        <source-file src="src/android/IntentShim.java" target-dir="src/com/darryncampbell/plugin/intent"/>
        <source-file src="src/android/CordovaPluginIntentFileProvider.java" target-dir="src/com/darryncampbell/plugin/intent"/>
        <source-file src="src/android/ExtraReconnectKscat.java" target-dir="src/com/darryncampbell/plugin/intent"/>
        <source-file src="src/android/TransactionData.java" target-dir="src/com/darryncampbell/plugin/intent"/>
        <framework src="androidx.core:core:1.1.0"/>
    </platform>

</plugin>
